#myheader h1 {
  color: #FFF;
  font-weight: 300;
  line-height: 1em;
  font-size: 7em;
  text-align: center;
  vertical-align: baseline;
  display:table;
  width:100%;
}

.myheader {
  color: #FFF;
  display: block;
  text-decoration: none;
  font-weight: 300;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
}

#top-message {
  z-index: 999;
    position: fixed;
    width: 100%;
  height:50px;
  left:50%;
  transform:translateX(-50%);
  top:50px;
  background-color: #ffd480;
}

#message {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #ffd480;
}

#inner-message {
  margin: 0 auto;
  z-index: 999;
  color: #ff3300;
}

.center-cropped {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.jumbotron {
  padding-top: 40px;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.jumbotron_feli {
  background-color: rgb(255, 255, 255);
}

.card_text_rucher {
  line-height: 40px;
  margin-bottom: 0;
}

.card-columns {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

html,
body,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 12pt;
  line-height: 1.5em;
  color: #777;

}

input,
textarea,
select {
  color: black;
}

.h1 {
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.head-container {
  max-width: 32em;
}

.marker {
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-image: url(/static/marker.png);
  background-color: rgba(0, 0, 0, 0);
  /* transform: translate(28px, 56px, 0); */
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.masthead {
  height: 30vh;
  background-image: url(/static/ruches1.jpg);
  background-size: cover;
  background-position: right 50% bottom 15%;
  background-repeat: no-repeat;
}
