#myheader h1 {
  color: #FFF;
  font-weight: 300;
  line-height: 1em;
  font-size: 7em;
  text-align: center;
  vertical-align: baseline;
  display:table;
  width:100%;
}

#myheader p {
  color: #FFF;
  font-weight: 300;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
  vertical-align: baseline;
  display:table;
  width:100%;
}

.form_error {
  color: red;
}

.myheader {
  color: #FFF;
  display: block;
  text-decoration: none;
  font-weight: 300;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
}

.message-nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #ffd480;
  z-index: 999;
  opacity: 0.5;
}

.message-flash {
  top: 238px;
  left: 0;
  width: 100%;
  background-color: #ffd480;
  z-index: 999;
  color: black;  
  height: 56px;
  line-height: 28px;
  opacity: 0.7;
  position: absolute;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.jumbotron {
  padding-top: 40px;
  margin-bottom: 0;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

.jumbotron_feli {
  background-color: rgb(255, 255, 255);
}

html,
body,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 12pt;
  line-height: 1.5em;
  color: #777;

}

a {
  color: #777;
}

input,
textarea,
select {
  color: black;
}

.h1 {
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.marker {
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-image: url(/static/marker.png);
  background-color: rgba(0, 0, 0, 0);
  /* transform: translate(28px, 56px, 0); */
}

.masthead {
  height: 30vh;
  background-image: url(/static/ruches1.jpg);
  background-size: cover;
  background-position: right 50% bottom 15%;
  background-repeat: no-repeat;
}
