{% extends "base.html" %}
{% block content %}

{% with text="Evenements" %}
{% include "header_theme.html" %}
{% endwith %}

<div class="jumbotron">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ruche</th>
                <th scope="col">Rucher</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Note</th>

            </tr>
        </thead>
        <tbody>
            {% for event in events %}

            <tr>
                <td>{{event.parent_ruche.num}}</td>
                <td>{{event.parent_ruche.parent.location}}</td>
                <td>{{event.type}}</td>
                <td>{{event.timestamp.strftime("%d/%m/%y")}}</td>
                <td>{{event.note}}</td>
            </tr>


            {% endfor %}

        </tbody>
    </table>

    <div class="d-flex justify-content-center align-items-center">
        <div class="jumbotron">

            <h5>Nouvel Evenement:</h5>

            <form method="POST">

                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.ruche.label }} <br> {{form.ruche }} <br>
                    {% for error in form.ruche.errors %}
                    <span class="form_error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.timestamp.label }} <br> {{form.timestamp}} <br>
                    {% for error in form.timestamp.errors %}
                    <span class="form_error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.type_select.label }} <br> {{form.type_select }} <br>
                    {% for error in form.type_select.errors %}
                    <span class="form_error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.type.label }} <br> {{form.type}} <br>
                    {% for error in form.type.errors %}
                    <span class="form_error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.note.label }} <br> {{form.note }} <br>
                    {% for error in form.note.errors %}
                    <span class="form_error">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <br>
                {{ form.submit() }}
            </form>


        </div>
    </div>

</div>


{% endblock %}