{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="container h-100 align-items-center justify-content-center d-flex">
    <div id="myheader">
      <h1>Bienvenue</h1>
      {% if current_user.is_authenticated %}
      <p>Salut {{ current_user.username }}!</p>
      {% else %}
      <p><a href="{{ url_for('login') }}" class="a_white">Connectez-vous</a> ou <a href="{{ url_for('register') }}" class = "a_white"> Inscrivez-vous</a></p>
      {% endif %}
    </div>
  </div>
</header>

{% endblock %}