{% extends "base.html" %}
{% block content %}

{% with text="Inscription" %}
{% include "header_theme.html" %}
{% endwith %}

<div class="jumbotron">
    <div class="text-center">


        <form method="POST">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}

            <p>
                {{ form.email.label }} <br> {{ form.email() }}<br>
                {% for error in form.email.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.name.label }} <br> {{ form.name() }}<br>
                {% for error in form.name.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>
                {{ form.password.label }} <br> {{ form.password() }}<br>
                {% for error in form.password.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.pass_confirm.label }} <br> {{ form.pass_confirm() }}<br>
                {% for error in form.pass_confirm.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                <!-- {{ form.latitude(id = "lat") }} -->
                {% for error in form.latitude.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                <!-- {{ form.longitude(id = "long") }} -->
                {% for error in form.longitude.errors %}
                <span class="form_error">[{{ error }}]</span>
                {% endfor %}
            </p>

            {{ form.submit() }}
        </form>

    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="border border-info" id='map' style='width: 850px; height: 650px;'></div>

    <script>

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            center: [{{ longitude }}, {{ latitude }}],
        zoom: 9.5
        });

        map.on('click', function (e) {
            document.getElementById("longitude").value = e.lngLat.lng
            document.getElementById("latitude").value = e.lngLat.lat
            map.setCenter(e.lngLat)
        })        
    </script>
    <p></p>
</div>


{% endblock %}