{% extends "base.html"%}
{% block content %}

<header class="masthead">
    <div class="container h-100 align-items-center justify-content-center d-flex">
        <div id="myheader">
            <h1>{{ rucher.location }}
            </h1>
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <span class="badge badge-success mr-2"> {{ rucher.plants }} </span>
                    <span class="badge badge-info mr-2"> {{ rucher.frelons_asiat }}/10 FA </span>
                    <span class="badge badge-info mr-2"> {{ ruches|length }} ruche(s) </span>
                    {% if rucher.specie %}
                    <span class="badge badge-info mr-2"> {{ rucher.specie }} </span>
                    {% endif %}
                    <a href="{{ url_for('update_rucher', id=rucher.id) }}" class="badge badge-warning">
                        Modifier le rucher
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="jumbotron">

    <div class="container">

        <div class="row">

            {% for i in ruches %}

            <div class="col-md-3 mb-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title"> Ruche {{ i.num }} </h5>

                        <p class="card-text">

                        <ul class="list-group list-group-flush">

                            {% if i.feedback %}
                            <li class="list-group-item text-dark bg-light"> {{ i.feedback }}</li>
                            {% endif %}

                            <li class="list-group-item text-dark bg-light"> Naissance reine :
                                {{ i.age_reine }}
                            </li>

                            {% if i.events[0] %}

                            <li class="list-group-item text-dark bg-light"> Dernière visite :
                                {{ i.events[-1].timestamp.strftime("%d/%m/%y") }}
                            </li>

                            {% else %}
                            <li class="list-group-item text-dark bg-light"> Pas encore de visite</li>
                            {% endif %}

                        </ul>


                        </p>

                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <form action="{{ url_for('delete_ruche', id=i.id) }}" method="post" class="ml-auto">
                                    <button class="btn btn-dark" type="submit">
                                        <svg class="bi bi-trash-fill" width="15" height="15" viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{{ url_for('update_ruche', id=i.id) }}" class="btn btn-dark">
                                    <svg width="15" height="15" viewBox="0 0 16 16" class="bi bi-pencil"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                        <path fill-rule="evenodd"
                                              d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="container">

        <a class="btn btn-outline-secondary mr-2" href="{{url_for('events', rucher=rucher.id)}}">Ajouter un évènement
            sur ce
            rucher</a>
        <a class="btn btn-outline-secondary" href="{{url_for('create_new_ruche', id=rucher.id)}}">Créer une ruche</a>

    </div>
</div>
{% endblock %}