<form method="POST">

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <p>
    {{ form.rucher.label }} <br> {{form.rucher }} <br>
    {% for error in form.rucher.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.num.label }} <br> {{form.num}} <br>
    {% for error in form.num.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>    
    <p>
    {{ form.specie_select.label }} <br> {{form.specie_select }} <br>
    {% for error in form.specie_select.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.specie.label }} <br> {{form.specie}} <br>
    {% for error in form.specie.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    {{ form.age_reine.label }} <br> {{form.age_reine}} <br>

    {% for error in form.age_reine.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>        
    <p>            
    {{ form.feedback.label }} <br> {{form.feedback }} <br>
    {% for error in form.feedback.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <br>
    {{ form.submit() }}
</form>
