{% extends "base.html"%}
{% block content %}
<div class="jumbotron_feli jumbotron">

    <div class="container">
        <div class="row">

        {% for i in ruches %}
        
        <div class="col-md-3 mb-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title"> Ruche {{ i.num }} </h5>

                <p class="card-text">

                <ul class="list-group list-group-flush">
                <li class="list-group-item text-dark bg-light">{{ i.specie }}</li>
                
                {% if i.feedback %}
                <li class="list-group-item text-dark bg-light">{{ i.feedback }}</li>
                {% endif %}

                <li class="list-group-item text-dark bg-light">{{ i.id }}</li>

                <li class="list-group-item text-dark bg-light">{{ i.num }}</li>

                </ul>


                </p>

                <form action="{{ url_for('delete_ruche', id=i.id) }}" method="post" class="ml-auto">
                    <button class="btn btn-dark" type="submit">
                      <svg class="bi bi-trash-fill" width="15" height="15" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                      </svg>
                    </button>
                </form>

            </div>
        </div>
        </div>

        {% endfor %}

    </div>
    </div>    

</div>

<hr/>


<div class="d-flex justify-content-center align-items-center">
<div class="jumbotron_feli jumbotron">
<div class="container">

    <h5>Nouvelle ruche:</h5>

    <form method="POST">
        <!-- quand action = pas precisé, renvoie POST sur la meme page -->
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        <p>
            {{form.num.label }} <br> {{form.num}} <br>
            {% for error in form.num.errors %} field with several data
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
        {{ form.breed.label }} <br> {{form.breed}} <br>
        {% for error in form.breed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
        {{ form.new_breed.label }} <br> {{form.new_breed}} <br>
        {% for error in form.new_breed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>            
        {{ form.feedback.label }} <br> {{form.feedback}} <br>
        {% for error in form.feedback.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <br>
        {{ form.submit() }}
    </form>

    <!-- <div>
        <a class="btn btn-primary" href="{{url_for('add_ruche', rucher_id=id)}}">Ajouter une ruche</a>
    </div> -->

</div>
</div>
</div>
{% endblock %}