<form method="POST">

    {% if ruche is not defined %}
    {% set ruche = {} %}
    {% endif %}

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <p>
    {{ form.rucher.label }} <br> {{form.rucher(value = ruche.rucher) }} <br>
    {% for error in form.rucher.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.num.label }} <br> {{form.num(value = ruche.num) }} <br>
    {% for error in form.num.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>    
    <p>
    {{ form.breed.label }} <br> {{form.breed(default = ruche.specie) }} <br>
    {% for error in form.breed.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.new_breed.label }} <br> {{form.new_breed(placeholder=ruche.specie)}} <br>
    {% for error in form.new_breed.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    {{ form.age_queen.label }} <br> {{form.age_queen(value=ruche.age_reine)}} <br>
    {% for error in form.age_queen.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>        
    <p>            
    {{ form.feedback.label }} <br> {{form.feedback(id="feedback") }} <br>
    {% for error in form.feedback.errors %}
    <span class="form_error">[{{ error }}]</span>
    {% endfor %}
    </p>
    <br>
    {{ form.submit() }}
</form>


<script> var textarea = document.getElementById('feedback'); textarea.innerHTML = "{{ ruche.feedback }}" </script>
