<form method="POST">
    <!-- quand action = pas precisé, renvoie POST sur la meme page -->
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <p>
        {{form.location.label }} <br> {{form.location}} <br>
        {% for error in form.location.errors %}
        <span class="form_error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.plants.label }} <br> {{form.plants}} <br>
        {% for error in form.plants.errors %}
        <span class="form_error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lat.label }} <br> {{form.lat(id="lat", placeholder="Cliquer sur la carte")}} <br>
        {% for error in form.lat.errors %}
        <span class="form_error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.longit.label }} <br> {{form.longit(id="long", placeholder="Cliquer sur la carte")}} <br>
        {% for error in form.longit.errors %}
        <span class="form_error">[{{ error }}]</span>
        {% endfor %}
    </p>
    <br>
    {{ form.submit() }}
</form>