{% extends "base.html"%}
{% block content %}
<div class="jumbotron">


<h1>Liste des ruchers actuels</h1>

{% for i in ruchers %}
    <ul class="list-group">
        <li class="list-group-item">{{ i.location }}</li>
        <form action="{{ url_for('delete_rucher', id=i.id) }}" method="post">
            <button class="btn btn-dark" type="submit">Delete</button>
        </form>
    </ul> 
{% endfor %}

<a class="btn btn-primary" href="{{url_for('add_rucher')}}">Ajouter un rucher</a>

{% endblock %}

