{% extends "base.html"%}
{% block content %}

<div class="d-flex justify-content-center align-items-center">
<div class="jumbotron_feli jumbotron">
<div class="container">

    <h5>Modification sur la ruche {{ ruche.num }}:</h5>

    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        <p>
        {{ form.rucher.label }} <br> {{form.rucher(value = ruche.rucher) }} <br>
        {% for error in form.rucher.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
        {{ form.breed.label }} <br> {{form.breed(default = ruche.specie) }} <br>
        {% for error in form.breed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>
        {{ form.new_breed.label }} <br> {{form.new_breed(placeholder=ruche.specie)}} <br>
        {% for error in form.new_breed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        {{ form.age_queen.label }} <br> {{form.age_queen(value=ruche.age_reine)}} <br>
        {% for error in form.age_queen.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>        
        <p>            
        {{ form.feedback.label }} <br> {{form.feedback(id="feedback") }} <br>
        {% for error in form.feedback.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <br>
        {{ form.submit() }}
    </form>


    <script> var textarea = document.getElementById('feedback'); textarea.innerHTML = "{{ ruche.feedback }}" </script>

</div>
</div>
</div>
{% endblock %}